.layout-main
  // position: absolute
  padding-top: $header-height
  transition: opacity 2s
  overflow-x: hidden
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 1

  // &__content
  //   // transition-delay:  opacity 0.5s
  //   .example-enter &
  //     background: yellow
  //     opacity: 0

  //   .example-enter.example-enter-active &
  //     opacity: 1

  //   .example-leave &
  //     background: red
  //     opacity: 0

  //   .example-leave.example-leave-active &
  //     opacity: 1
  //     // transition: opacity 1s linear

.example-enter
  position: absolute
  opacity: 0

.example-enter.example-enter-active
  opacity: 0
  background: yellow
  transition: opacity 0s linear

.example-leave
  position: absolute
  opacity: 1

.example-leave.example-leave-active
  opacity: 1
  transition: opacity 0s linear