.tumblr-grid
  &__wrapper
    padding-bottom: 50px

  &__initial-load
    position: absolute
    bottom: 20px
    left: 50%
    transform: translateX(-50%)

  &__image
    border: solid 3px #000
    background-size: cover
    width: 100%

    @include breakpoint(medium)
      width: calc(50%)

    @include breakpoint(large)
      width: calc(33.33333%)

    img
      width: 100%

  &__loader
    padding-top: 40px
    text-align: center