.tumblr-grid
  background: red
  height: 100%
  min-height: 200px
  margin: 0 auto
  text-align: center
  
  &__inner
    display: inline-block

  &__image
    background: purple
    width: calc(33.333% - 10px)
