.nav-links

  ul
    list-style: none
    margin: 0

  &__item
    position: fixed
    display: inline-block
    opacity: 0.85

    &--home
      top: 15px
      left: 50%
      transform: translateX(-50%)

      @include breakpoint(large)
        top: 30px

      .active
        display: none

    &--about
      top: 50%
      left: 20px
      transform: translateY(-50%) rotateZ(-90deg)

    &--studio-shots
      top: 50%
      right: 0
      transform: translateY(-50%) rotateZ(90deg)

    a
      color: #fff

    p
      margin-bottom: 0
      letter-spacing: 3px