.nav-links
  ul
    margin: 0
    list-style: none

  &__item
    display: inline-block
    position: fixed
    // opacity: 0.85

    &--home
      top: 15px
      left: 50%
      transform: translateX(-50%)

      @include breakpoint(large)
        top: 30px

      .active
        display: none

    &--about
      top: 50%
      left: -15px
      transform: translateY(-50%) rotateZ(-90deg)

      @include breakpoint(medium)
        left: -5px

      @include breakpoint(large)
        left: 2.5%

    &--studio-shots
      top: 50%
      right: -45px
      transform: translateY(-50%) rotateZ(90deg)

      @include breakpoint(medium)
        right: -33px

      @include breakpoint(large)
        right: 0
    a
      color: #fff

    p
      margin-bottom: 0
      letter-spacing: 3px