.nav-links
  ul
    margin: 0
    list-style: none

  &__item
    display: inline-block
    position: fixed

    &--home
      top: calc(3.75vw - 14px)
      left: 50%
      transform: translateX(-50%)

      @include breakpoint(large)
        top: calc(2.5vw - 14px)

      a
        transition-delay: 1s
        opacity: 1

        &.active
          position: absolute
          top: -299px
          visibility: hidden
          opacity: 0

    &--about
      top: 50%
      left: calc(5% - 28px)
      transform: translateY(-50%) rotateZ(-90deg)

      @include breakpoint(large)
        left: calc(5% - 42px)

    &--studio-shots
      top: 50%
      right: calc(5% - 60px)
      transform: translateY(-50%) rotateZ(90deg)

      @include breakpoint(large)
        right: calc(5% - 72px)

    a
      color: #fff

    p
      margin-bottom: 0
      letter-spacing: 3px